.header {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-gray);
}
  
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
}
  
.header__nav {
    position: absolute;
    right: 0;
    height: 100%;
}
  
.navHeader__list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}